* {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 16px;
    font-family:sans-serif;
    font-weight: lighter;
    text-align: center;
    border: none;
  }

  html{
    background-color: #373737;
  }

  header {
    background: rgba(0, 0, 0, 0);
    height: 100px;
  }

.container{
    width: 70%; 
    height: 38vw; 
    margin: 0 auto; 
}

.p1{

    position: absolute;
    right: 0;
    text-align: right;
    font-size: 12px;
    margin-right: 15%;
    margin-top: 40px;;
    width: fit-content;
  }

  h1 {
    text-align: right;
    line-height: 100px;
    margin: 15px 0 0 0;
    font-size: 22px;
    padding-right: 15%;
    padding-top: 20px;
  }

  article {
    width: 100%;
    padding: 30px;
    margin: 1px;
    box-sizing: border-box; 
    display: flex; 
    justify-content: center;
    align-items: center; 
  }
.art2{
    width: 100%;
    padding: 40px;
    margin: 0 0 5px 0;
    box-sizing: border-box; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    background-color: #ba1616;
}
.flex1{
    width: 100%; 
    height: 80px;
    margin: 0 auto; 
    display: flex;
    flex-wrap: nowrap; 
    flex-direction: row;
}
.flex2{
  position: relative;
  top: 30px;
  left: 0px;
    width: 22%; 
    height: 80px;
    margin: 0 0; 
    display: flex;
    flex-wrap: nowrap; 
    flex-direction: column;
}
.post1{
    position: relative;
    top: -6.5%;
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 30%;
}

.img1{
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
.h11{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%,-50%);
  font-size: 32px;
  width: auto;
  height: auto;
  display: inline-block;
}
.flex3{
  position: relative;
  top: -5%;
  left: 25%;
  width: 75%; 
  height: 80px;
  margin: 6px 0; 
  display: flex;
  flex-wrap: nowrap; 
  flex-direction: row;
}
.h22{
  position: relative;
  top: 0%;
  width: 75%;
  left: 25%;
  font-size: 25px;
}
.flex4{
  position: relative;
  width: 75%; 
  height: 300px;
  left: 25%; 
  display: flex;
  flex-wrap: nowrap; 
  flex-direction: row; 
}

footer {
  width: 70%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.322);
  height: 120px;
}

nav {
  /* Уберите position: absolute и translateY(-50%) */
  margin-left: 35px;
  
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin: 5px;
}

.flex5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-right: 35px;
}

p {
  margin: 0;
}

.center-content {
  display: flex;
  align-items: center;
}
